<h1>Stupid coaching</h1>

<form class="form-inline" action="/answer">
  <div class="form-group">
    <label for="exampleInputEmail1">ask your coach something</label>
  </div>
  <div class="form-group">
    <input type="text" name="question" placeholder="">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>




